-#  Copyright (c) 2015, Aargauer OL Verband (AOLV). This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- @sub_groups.each do |label, groups|
  = section_table(label, groups) do |item|
    %td
      = link_to(item.to_s, group_path(item.id))

    %td.right
      = Person::Filter::List.new(item, Person.find_by_email(Settings.root_email), {:kind => 'deep', :role_type_ids => Role.visible_types.collect(&:id)}).filtered.all.where("birthday >= makedate(?,1)", Date.today.year - 20).size
      -#= Person::Filter::List.new(item, Person.find_by_email(Settings.root_email), {:kind => 'deep', :role_type_ids => Role.visible_types.collect(&:id)}).filtered.all.where("birthday >= date('now','start of year','-20 years')").size
    %td.right
      = Person::Filter::List.new(item, Person.find_by_email(Settings.root_email), {:kind => 'deep', :role_type_ids => Role.visible_types.collect(&:id)}).filtered.all.where("birthday <  makedate(?,1)", Date.today.year - 20).size
      -#= Person::Filter::List.new(item, Person.find_by_email(Settings.root_email), {:kind => 'deep', :role_type_ids => Role.visible_types.collect(&:id)}).filtered.all.where("birthday <  date('now','start of year','-20 years')").size
    %td.right
      = Person::Filter::List.new(item, Person.find_by_email(Settings.root_email), {:kind => 'deep', :role_type_ids => Role.visible_types.collect(&:id)}).all_count
