-#  Copyright (c) 2015, Aargauer OL Verband (AOLV). This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- @sub_groups.each do |label, groups|
  = section_table(label, groups) do |item|
    %td
      = link_to(item.to_s, group_path(item.id))

    %td.right
      = Person.in_or_below(item).where("birthday >= makedate(?,1)", Date.today.year - 20).count
    %td.right
      = Person.in_or_below(item).where("birthday <  makedate(?,1)", Date.today.year - 20).count
    %td.right
      = Person.in_or_below(item).where("birthday is null").count
    %td.right
      =Person.in_or_below(item).count
