-#  Copyright (c) 2015, Aargauer OL Verband (AOLV). This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- @sub_groups.each do |label, groups|
  = section_table(label, groups) do |item|
    :ruby
      internal_under_20 = Person.in_or_below(item).where("birthday >= makedate(?,1) AND roles.type not like '%::ExternalMember'", Date.today.year - 20).count
      internal_over_20  = Person.in_or_below(item).where("birthday <  makedate(?,1) AND roles.type not like '%::ExternalMember'", Date.today.year - 20).count
      internal_unknown  = Person.in_or_below(item).where("birthday is null AND roles.type not like '%::ExternalMember'").count
      external_total    = Person.in_or_below(item).where("roles.type like '%::ExternalMember'").count
    %td
      = link_to(item.to_s, group_path(item.id))

    %td.right
      = internal_under_20
    %td.right
      = internal_over_20
    %td.right
      = internal_unknown
    %td.right
      = internal_under_20 + internal_over_20 + internal_unknown
    %td.right
      = external_total
